@font-face {
  font-family: Imported;
  src: url('./components/font/Fredoka-VariableFont_wdth\,wght.ttf');
}








body {
  font-family: Imported;
 
  background-color: #dfdfdf;
  color: #001e42;
}


.App {
  text-align: center;
}

.taskBg {

  background-color: #fefdfc;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border: 3px solid #001e42;
  box-shadow: 0px 7px #001e42;

}


.taskNumber {

  color: #001e42;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;

}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText{

  text-decoration: line-through;
  opacity: 0.5;

}

.iconsWrap {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {

  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: #449e81;
  
  
}

.taskBg .iconsWrap span:hover {
  color: #fad23d;
}

.taskBg .iconsWrap span:nth-child(3):hover {
  color: #e77979;
  
}

.mr-20 {
  margin-right: 10px;
}

#addBtn {
  color: #001e42;
  background-color: #fefdfc;
  border: 3px solid #001e42;
  box-shadow: 0px 7px #001e42;
  transition: none;
  
}

#addBtn:hover {
  background-color: #b3b3b3;
  
  
}

#saveBtn {
  border: 3px solid #001e42;
  box-shadow: 0px 7px #001e42;
  transition: none;
}

#cancelBtn {
  border: 3px solid #001e42;
  box-shadow: 0px 7px #001e42;
  transition: none;
}

#addForm {
  border: 3px solid #001e42;
  box-shadow: 0px 7px #001e42;
  transition: none;

}

#updateForm {

  border: 3px solid #001e42;
  box-shadow: 0px 7px #001e42;
  transition: none;
}

